.notebookbutton {
	color:fff;
    text-align:center;
    color: fff;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 50%;
    z-index: 6;
}
.pagelayout-popup .notebookbutton {
    display: none
}
.notebookbutton .rolling {
    display: inline-block;
    cursor: pointer;
    width: 40px;
    height: 40px;
    text-align: left;
    overflow: hidden;
    border-radius: 26px;
    background: #fff;
    transition: all 0.3s ease-out;
    white-space: nowrap;
    outline-offset: -2px;
    outline: 2px solid #006bb6;
    text-decoration: none;
}
.notebookbutton .rolling:hover,
.notebookbutton .rolling:focus {
    width: 230px;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between;
}
.notebookbutton .rolling .rolling_icon {
    z-index: 9;
    width: 40px;
    background: #006bb6;
    height: 40px;
    border-radius: 26px;
    box-sizing: border-box;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.notebookbutton .rolling i.fa {
    font-size: 20px;
    text-align: center;
}
.notebookbutton .rolling .rolling_text {
    width: 190px;
    text-align: center;
}
.notebookbutton .rolling span {
    display: block;
    font-weight: bold;
    padding: 4px 0;
    line-height: 2;
}
[data-region=right-hand-notebook-drawer] {
	display: flex;
	flex-direction: column;
	transition: right 0.2s ease-in-out
}
[data-region=right-hand-notebook-drawer] .closewidget a:focus{
    border: 1px solid #fff;
    padding: 0px 4px 0px 4px;
    height: 25px;
}
[data-region=right-hand-notebook-drawer] .closewidget a .icon {
    color: white;
}
[data-region=right-hand-notebook-drawer] .bootstrap-table .fixed-table-toolbar {
    display: flex;
    flex-direction: row-reverse;
}
[data-region=right-hand-notebook-drawer] .bootstrap-table .fixed-table-toolbar .columns{
    width: 10%;
}
[data-region=right-hand-notebook-drawer] .bootstrap-table .fixed-table-toolbar .search {
    width: 90%;
}
[data-region=right-hand-notebook-drawer] .bootstrap-table .fixed-table-toolbar input.form-control {
    width: 100%;
}
[data-region=right-hand-notebook-drawer] #message-success-container,
[data-region=right-hand-notebook-drawer] #note-list-actions {
    position: absolute;
    bottom: 0;
    width: 100%;
}
[data-region=right-hand-notebook-drawer] #note-list-actions {
    padding: 13px;
    background: #eff1f3;
}
[data-region=right-hand-notebook-drawer] #note-list-actions .selected-note-count{
    min-width : 30px;
}
[data-region=right-hand-notebook-drawer] #note-list-actions .close{
    font-size: inherit;
}
[data-region=right-hand-notebook-drawer] #message-success-container {
    z-index: 4;
}
[data-region=right-hand-notebook-drawer] #message-success-container .alert{
    margin-bottom: 0;
    padding: 1.5rem;
}
[data-region=right-hand-notebook-drawer] form#noteform  input[name="subject"] {
    width: 100%;
}
[data-region=right-hand-notebook-drawer] form#noteform  #fgroup_id_buttonar .col-md-9.form-inline .d-flex.flex-wrap.align-items-center .fitem:last-child {
    margin-left: auto !important;
}
.notebookcontainer [data-region=footer] #fgroup_id_buttonar .col-md-9.form-inline {
    flex: 0 0 100%;
    max-width: 100%;
}
@media (prefers-reduced-motion:reduce) {
	[data-region=right-hand-notebook-drawer] {
		transition: none
	}
}
 [data-region=right-hand-notebook-drawer].drawer {
	z-index: 1020;
	position: fixed;
	top: 50px;
	right: 0;
	height: calc(100% - 50px);
	width: 100%;
	box-shadow: -2px 2px 4px rgba(0, 0, 0, .08);
	padding: 0;
	visibility: visible;
	opacity: 1

}
@media (min-width: 768px) {
    [data-region=right-hand-notebook-drawer].drawer {
        width: 576px;
    }
}
[data-region=right-hand-notebook-drawer].hidden {
	display: block;
	right: -640px;
	visibility: hidden;
	opacity: 0;
	transition: right 0.2s ease-in-out, visibility 0s ease-in-out 0.2s, opacity 0s ease-in-out 0.2s
}
@media (prefers-reduced-motion:reduce) {
	[data-region=right-hand-notebook-drawer].hidden {
		transition: none
	}
}
@media (max-width:767.98px) {
	[data-region=right-hand-notebook-drawer].drawer {
		top: 0;
		height: 100%;
		z-index: 1031;
	}
	body.drawer-open-left,
	body.drawer-open-right {
		overflow: hidden
	}
}
@media (max-width:575.98px) {
    [data-region=right-hand-notebook-drawer] .fixed-table-pagination {
        font-size: 0.7rem;
    }
    [data-region=right-hand-notebook-drawer] .fixed-table-toolbar input.form-control {
        width: 115px;
    }
    [data-region=right-hand-notebook-drawer] .bootstrap-table tbody tr:nth-of-type(1) td .card-views {
        margin-top: 30px;
    }
    .notebookcontainer .bootstrap-table tbody tr td .card-views {
        position: relative;
        display: flex;
        width: 100%;
    }
    .notebookcontainer .bootstrap-table tbody tr td .card-views .item-content {
        display: table;
        table-layout: fixed;
        width: 92%;
    }
    .notebookcontainer .bootstrap-table tbody tr td .card-views .item-content .card-view {
        padding-left: 0.5rem!important;
    }
    .notebookcontainer .bootstrap-table .fixed-table-container .table tbody tr .card-view .card-view-title {
        min-width: 15%;
    }
    .notebookcontainer .bootstrap-table tbody tr td .card-view:not(:first-child):not(:last-child) {
        margin-left:25px;
    }
    .notebookcontainer div.editor_atto_toolbar button {
        padding: 2px 5px;
    }
    .notebookcontainer [data-region="footer-container"] .editnote,
    .notebookcontainer [data-region="footer-container"] .deletenote {
        padding: 0.2rem;
    }
    .notebookcontainer .notebook-index [data-region="confirm-dialogue"] {
        width: 100%;
    }
}
.dir-rtl [data-region=right-hand-notebook-drawer] {
	box-shadow: 2px 2px 4px rgba(0, 0, 0, .08)
}
[data-region=right-hand-notebook-drawer] {
	display: flex;
	flex-direction: column;
	transition: right 0.2s ease-in-out
}
@media (prefers-reduced-motion:reduce) {
	[data-region=right-hand-notebook-drawer] {
		transition: none;
	}
}
.notebookcontainer .bootstrap-table .fixed-table-container .fixed-table-body {
    overflow-x: hidden !important;
}
.notebookcontainer .fixed-table-body {
	background-color: white;
}
.notebookcontainer .bootstrap-table .fixed-table-container.fixed-height .fixed-table-border {
    height: auto !important;
}
.notebookcontainer thead {
	background-color: #ced4da;
}
.notebookcontainer .message-app .body-container>* {
    position: relative;
}
.notebookcontainer #remove {
    float: left;
    padding: .25rem .75rem;
    margin-top: 5px;
}
.notebookcontainer .fa-sync:before {
    content:"\f021";
}
.notebookcontainer .fa-sync-alt:before {
    content:"\f2f1";
}
[data-region=header-container] {
	vertical-align: middle;
    text-align: center;
}
[data-region=body-container] div.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.notebookcontainer .bootstrap-table .fixed-table-container .table td {
    padding: 0.25rem;
}
.notebookcontainer .bootstrap-table span.subject {
    max-width: 100%;
    display: inline-block;
}
.notebookcontainer .bootstrap-table .context-note {
    margin-right: 5px;
}
.notebookcontainer .bootstrap-table .context-note.wcn-1 {
    max-width: 240px;
}
.notebookcontainer .bootstrap-table .context-note.wcn-2 {
    max-width: 120px;
}

@media (max-width:575.98px) {
    .notebookcontainer .bootstrap-table span.subject {
        width:80%;
    }
    .notebookcontainer .bootstrap-table .context-note.wcn-2 {
        max-width: 100px;
    }
}

.notebookcontainer .bootstrap-table .fixed-table-container .table thead th .th-inner {
    padding: 0.25rem;
}
.notebookcontainer .bootstrap-table .fixed-table-toolbar .bs-bars,
.notebookcontainer .bootstrap-table .fixed-table-toolbar .columns,
.notebookcontainer .bootstrap-table .fixed-table-toolbar .search {
    margin-bottom: 5px;
    margin-top: 5px;
}
.notebookcontainer .fixed-table-toolbar .btn {
    padding: 0.25rem 0.75rem;
}
.notebookcontainer .fixed-table-toolbar input.form-control {
    height: calc(1.5em + 0.5rem + 2px);
    padding: 0.25rem .75rem;
}
.notebookcontainer .bootstrap-table .fixed-table-pagination>.pagination,
.notebookcontainer .bootstrap-table .fixed-table-pagination>.pagination-detail {
    margin-top: 5px;
    margin-bottom: 5px;
}
.bi-arrow-clockwise::before {
    content: "\f0e2";
}
.bi::before, [class^="bi-"]::before, [class*=" bi-"]::before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-transform: none;
    line-height: 1;
    vertical-align: -0.125em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.notebookcontainer #fitem_id_subject .col-md-3.col-form-label,
.notebookcontainer #fitem_id_note .col-md-3.col-form-label {
    display: none !important;
}
.notebookcontainer #fitem_id_subject .col-md-9.form-inline,
.notebookcontainer #fitem_id_note .col-md-9.form-inline {
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 5px;
    padding-left: 5px;
}
.notebookcontainer .message-app .view-overview-body {
    display: flex;
    flex-direction: column;
}
.notebookcontainer #add-note-form-container form {
    display: flex;
    flex-direction: column;
}
.notebookcontainer #list-note-container {
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: auto;
    overflow-x: hidden;
}
.notebookcontainer #notebook-table-container .addnote {
    cursor: pointer;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 26px;
    transition: all 0.3s ease-out;
    text-decoration: none;
    position: absolute;
    bottom: 4px;
    right: 8%;
}
.notebookcontainer #notebook-table .viewnote:focus {
    box-shadow: 0 0 0 .2rem rgba(78, 82, 85, 0.5);
}
.notebookcontainer #notebook-table tr,
.notebookcontainer #notebook-table-index tr {
    cursor: pointer;
}
.notebookcontainer [data-region=view-overview] {
    display: none;
}
.notebookcontainer.list [data-region=view-overview] {
    display: block;
}
[data-region=right-hand-notebook-drawer] #add-note-form-container form {
    height: 90%;
}
[data-region=right-hand-notebook-drawer] #fitem_id_note,
[data-region=right-hand-notebook-drawer] #fitem_id_note [data-fieldtype=editor],
[data-region=right-hand-notebook-drawer] #fitem_id_note [data-fieldtype=editor] > div,
[data-region=right-hand-notebook-drawer] #fitem_id_note [data-fieldtype=editor] .editor_atto_wrap,
[data-region=right-hand-notebook-drawer] #fitem_id_note [data-fieldtype=editor] .editor_atto_wrap .editor_atto {
    height: 100%;
}
[data-region=right-hand-notebook-drawer] #fitem_id_note .editor_atto_content_wrap {
    height: 85%;
}
[data-region=right-hand-notebook-drawer] #fitem_id_note #id_noteeditable {
    min-height: auto !important;
    height: 85% !important;
    position: absolute;
    resize: none;
}
[data-region=right-hand-notebook-drawer] .bootstrap-table,
[data-region=right-hand-notebook-drawer] .bootstrap-table .fixed-table-container {
    height: 100% !important;
}
[data-region=right-hand-notebook-drawer] #fitem_id_note [data-fieldtype=editor] .editor_atto_wrap .editor_atto_notification{
    position: absolute;
    bottom: 0;
}
[data-region=right-hand-notebook-drawer] #fitem_id_note [data-fieldtype=editor] .editor_atto_wrap .atto_info {
    font-size: 13px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

@media screen and (max-width:480px) and (orientation: portrait) {
    .notebookcontainer #fgroup_id_buttonar .col-form-label .form-label-addon .alert {
        margin-top: 1rem;
    }
}

@media screen and (min-width:401px) and (max-width:480px) and (orientation: portrait) {
    [data-region="body-container"] #fgroup_id_buttonar .col-form-label .form-label-addon .alert {
        margin-top: 1rem;
    }
}

.notebookcontainer #notebook-table-container {
    height: 87% !important;
}
.notebookcontainer #add-note-form-container form {
    margin-top: 5px;
    padding-left: 5px;
    margin-right: 5px;
}
.notebookcontainer [data-region=footer] .col-md-9.form-inline .d-flex.flex-wrap.align-items-center {
    justify-content: flex-start;
}
.notebookcontainer [data-region=footer] #fgroup_id_buttonar .col-md-9.form-inline,
.notebookcontainer [data-region=footer] #fgroup_id_buttonar .col-md-3.col-form-label {
    padding-right: 5px;
    padding-left: 5px;
}
[data-region="body-container"] #fgroup_id_buttonar .col-form-label .form-label-addon {
    margin-left: 0.2rem;
}

[data-region="body-container"] #fgroup_id_buttonar .col-form-label .form-label-addon .alert {
    padding: .5rem 1.25rem;
    margin-bottom: 0.25rem;
}
.notebookcontainer [data-region="footer-container"] .notetags .badge {
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 12px;
}
.notebookcontainer [data-region="footer-container"] .notetags .badge {
    max-width: 100%;
}
.notebookcontainer [data-region="view-note"] {
    padding: 1rem;
    overflow-y: auto;
    overflow-x: hidden;
}
.notebookcontainer [data-region="view-note"] #note-dates td{
    font-size: 14px;
}
.notebookcontainer .blur-content {
    filter: blur(2px);
}
.notebookcontainer [data-region="footer-container"] .buttonscontainer {
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
    justify-content: end;
}
.notebookcontainer [data-region="confirm-dialogue-container"] {
    top: 0;
    background: rgba(0,0,0,0.3);
}
.notebookcontainer [data-region="notebook-index"] .container-fluid {
    padding-right: 0;
}
.notebookcontainer [data-region="notebook-index"] .view-note {
    background-color: #fff;
}
.notebookcontainer .notebook-index [data-region="confirm-dialogue"] {
    margin: auto;
    margin-top: 3rem;
}
@media (max-width: 1199.98px) and (min-width: 576px){
    .notebookcontainer .notebook-index [data-region="confirm-dialogue"] {
        width: 50%;
    }
}
@media (min-width: 1200px){
    .notebookcontainer .notebook-index [data-region="confirm-dialogue"] {
        width: 25%;
    }
}
[data-region="notebook-index"] form#noteform  input[name="subject"] {
    width: 100%;
}
[data-region="notebook-index"] form#noteform .form-inline {
    display: block;
}
[data-region="notebook-index"] .summarynote {
    word-break: break-word;
}
.notebookcontainer [data-region="notebook-index"].message-app {
    background-color: #fff;
}
.notebookcontainer [data-region="notebook-index"] .backtolist {
    visibility: hidden;
}
.notebookcontainer [data-region="notebook-index"] form#noteform  #fgroup_id_buttonar .col-md-9.form-inline .d-flex.flex-wrap.align-items-center .fitem:last-child {
    margin-left: auto !important;
}
.notebookcontainer .bootstrap-table .fixed-table-container .table {
    table-layout: fixed;
}
.notebookcontainer .bootstrap-table .fixed-table-container .table thead th .both {
    filter: brightness(10%);
}