.notebookbutton {
	color:fff;
    text-align:center;
    color: fff;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 50%;
    z-index: 6;
}
.notebookbutton .rolling {
    display: inline-block;
    cursor: pointer;
    width: 40px;
    height: 40px;
    text-align: left;
    overflow: hidden;
    border-radius: 26px;
    background: #fff;
    transition: all 0.3s ease-out;
    white-space: nowrap;
    outline-offset: -2px;
    outline: 2px solid #006bb6;
    text-decoration: none;
}
.notebookbutton .rolling:hover,
.notebookbutton .rolling:focus {
    width: 230px;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between;
}
.notebookbutton .rolling .rolling_icon {
    z-index: 9;
    width: 40px;
    background: #006bb6;
    height: 40px;
    border-radius: 26px;
    box-sizing: border-box;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.notebookbutton .rolling i.fa {
    font-size: 20px;
    text-align: center;
}
.notebookbutton .rolling .rolling_text {
    width: 190px;
    text-align: center;
}
.notebookbutton .rolling span {
    display: block;
    font-weight: bold;
    padding: 4px 0;
    line-height: 2;
}
[data-region=right-hand-notebook-drawer] {
	display: flex;
	flex-direction: column;
	transition: right 0.2s ease-in-out
}

@media (prefers-reduced-motion:reduce) {
	[data-region=right-hand-notebook-drawer] {
		transition: none
	}
}
 [data-region=right-hand-notebook-drawer].drawer {
	z-index: 1020;
	position: fixed;
	top: 50px;
	right: 0;
	height: calc(100% - 50px);
	width: 100%;
	box-shadow: -2px 2px 4px rgba(0, 0, 0, .08);
	padding: 0;
	visibility: visible;
	opacity: 1

}
@media (min-width: 768px) {
    [data-region=right-hand-notebook-drawer].drawer {
        width: 576px;
    }
    [data-region=right-hand-notebook-drawer] [data-region=footer] #fgroup_id_buttonar .col-md-9.form-inline,
    [data-region=right-hand-notebook-drawer] [data-region=footer] #fgroup_id_buttonar .col-md-3.col-form-label {
        flex: 0 0 50%;
        max-width: 50%;
    }
}
[data-region=right-hand-notebook-drawer].hidden {
	display: block;
	right: -640px;
	visibility: hidden;
	opacity: 0;
	transition: right 0.2s ease-in-out, visibility 0s ease-in-out 0.2s, opacity 0s ease-in-out 0.2s
}
@media (prefers-reduced-motion:reduce) {
	[data-region=right-hand-notebook-drawer].hidden {
		transition: none
	}
}
@media (max-width:767.98px) {
	[data-region=right-hand-notebook-drawer].drawer {
		top: 0;
		height: 100%;
		z-index: 1031;
	}
	body.drawer-open-left,
	body.drawer-open-right {
		overflow: hidden
	}
}
@media (max-width:575.98px) {
	[data-region=right-hand-notebook-drawer] .fixed-table-pagination {
        font-size: 0.7rem;
    }
    [data-region=right-hand-notebook-drawer] .fixed-table-toolbar input.form-control {
        width: 115px;
    }
    [data-region=right-hand-notebook-drawer] #notebook-table tbody tr:nth-of-type(1) td .card-views {
        margin-top: 30px;
    }
    [data-region=right-hand-notebook-drawer] div.editor_atto_toolbar button {
        padding: 2px 5px;
    }
}
.dir-rtl [data-region=right-hand-notebook-drawer] {
	box-shadow: 2px 2px 4px rgba(0, 0, 0, .08)
}
[data-region=right-hand-notebook-drawer] {
	display: flex;
	flex-direction: column;
	transition: right 0.2s ease-in-out
}
@media (prefers-reduced-motion:reduce) {
	[data-region=right-hand-notebook-drawer] {
		transition: none;
	}
}
[data-region=right-hand-notebook-drawer] .fixed-table-body {
	background-color: white;
}
[data-region=right-hand-notebook-drawer] thead {
	background-color: #ced4da;
}
[data-region=right-hand-notebook-drawer] .message-app .body-container>* {
    position: relative;
}
[data-region=right-hand-notebook-drawer] #remove {
    float: left;
    padding: .25rem .75rem;
    margin-top: 5px;
}
[data-region=right-hand-notebook-drawer] .fa-sync:before {
    content:"\f021";
}
[data-region=right-hand-notebook-drawer] .fa-sync-alt:before {
    content:"\f2f1";
}
[data-region=header-container] {
	vertical-align: middle;
    text-align: center;
}
[data-region=body-container] div.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
[data-region=right-hand-notebook-drawer] .bootstrap-table .fixed-table-container .table td {
    padding: 0.25rem;
}
[data-region=right-hand-notebook-drawer] .bootstrap-table span.subject {
    max-width: 235px;
    display: inline-block;
}
[data-region=right-hand-notebook-drawer] .bootstrap-table .context-note {
    margin-right: 5px;
}
[data-region=right-hand-notebook-drawer] .bootstrap-table .context-note.wcn-1 {
    max-width: 240px;
}
[data-region=right-hand-notebook-drawer] .bootstrap-table .context-note.wcn-2 {
    max-width: 120px;
}
[data-region=right-hand-notebook-drawer] .bootstrap-table .fixed-table-container .table thead th .th-inner {
    padding: 0.25rem;
}
[data-region=right-hand-notebook-drawer] .bootstrap-table .fixed-table-toolbar .bs-bars,
[data-region=right-hand-notebook-drawer] .bootstrap-table .fixed-table-toolbar .columns,
[data-region=right-hand-notebook-drawer] .bootstrap-table .fixed-table-toolbar .search {
    margin-bottom: 5px;
    margin-top: 5px;
}
[data-region=right-hand-notebook-drawer] .fixed-table-toolbar .btn {
    padding: 0.25rem 0.75rem;
}
[data-region=right-hand-notebook-drawer] .fixed-table-toolbar input.form-control {
    height: calc(1.5em + 0.5rem + 2px);
    padding: 0.25rem .75rem;
}
[data-region=right-hand-notebook-drawer] #list-note-container {
    position: absolute;
    right: 0;
    left: 0;
    top: unset;
    bottom: 0;
    overflow: auto;
    padding-left: 5px;
    padding-right: 5px;
}
[data-region=right-hand-notebook-drawer] .bootstrap-table .fixed-table-pagination>.pagination,
[data-region=right-hand-notebook-drawer] .bootstrap-table .fixed-table-pagination>.pagination-detail {
    margin-top: 5px;
    margin-bottom: 5px;
}
.bi-arrow-clockwise::before {
    content: "\f0e2";
}
.bi::before, [class^="bi-"]::before, [class*=" bi-"]::before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-transform: none;
    line-height: 1;
    vertical-align: -0.125em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
[data-region=right-hand-notebook-drawer] #add-note-form-container {
    position: absolute;
    overflow: auto;
    top: 0px;
}
[data-region=right-hand-notebook-drawer] #fitem_id_subject .col-md-3.col-form-label,
[data-region=right-hand-notebook-drawer] #fitem_id_note .col-md-3.col-form-label {
    display: none !important;
}
[data-region=right-hand-notebook-drawer] #fitem_id_subject .col-md-9.form-inline,
[data-region=right-hand-notebook-drawer] #fitem_id_note .col-md-9.form-inline {
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 5px;
    padding-left: 5px;
}
[data-region=right-hand-notebook-drawer] #add-note-form-container form {
    margin-top: 5px;
    padding-left: 5px;
    margin-right: 5px;
}
[data-region=right-hand-notebook-drawer] [data-region=footer] .col-md-9.form-inline .d-flex.flex-wrap.align-items-center {
    justify-content: flex-end;
}
[data-region=right-hand-notebook-drawer] [data-region=footer] #fgroup_id_buttonar .col-md-9.form-inline,
[data-region=right-hand-notebook-drawer] [data-region=footer] #fgroup_id_buttonar .col-md-3.col-form-label {
    padding-right: 5px;
    padding-left: 5px;
}
[data-region="body-container"] #fgroup_id_buttonar .col-form-label .form-label-addon {
    margin-left: 0.2rem;
}

[data-region="body-container"] #fgroup_id_buttonar .col-form-label .form-label-addon .alert {
    padding: .5rem 1.25rem;
    margin-bottom: 0.25rem;
}

