{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_notebook/notebook_drawer_view_note_header

    This template will render the header for the note detail.

    Classes required for JS:
    * notedate

    Data attributes required for JS:
    * All data attributes are required

    Context variables required for this template:
    * none

    Example context (json):
    {}

}}

<div
    class="hidden position-relative border-bottom p-1 px-sm-2"
    aria-hidden="true"
    data-region="view-note"
>
    <div data-region="header-content">
        {{>local_notebook/notebook_drawer_view_note_actions}}
        <div class="d-flex justify-content-between">
            <div class="p-2 ml-auto mt-3">
                <table id="note-dates">
                    <tr>
                        <td class="text-left pr-2">{{#str}} creation, local_notebook {{/str}}</td>
                        <td class="text-right"><span class="notecreateddate"></span></td>
                    </tr>
                    <tr>
                        <td class="text-left pr-2">{{#str}} lastmodification, local_notebook {{/str}}</td>
                        <td class="text-right"><span class="notelastmodifieddate"></span></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>