<div id="notebook-table-container">
<table
  id="notebook-table"
  data-toolbar="toolbar"
  data-search="true"
  data-search-highlight="false"
  data-show-refresh="true"
  data-minimum-count-columns="1"
  data-detail-view="false"
  data-show-export="true"
  data-show-footer="false"
  data-click-to-select="false"
  data-id-field="id"
  data-pagination="true"
  data-page-size="10"
  data-mobile-responsive="true"
  data-check-on-init="true"
  >
</table>
<button type="button" class="btn btn-primary hidden addnote" title="{{#str}} addbuttontitle, local_notebook {{/str}}" aria-label="{{#str}} addbuttontitle, local_notebook {{/str}}">
    <i class="fa fa-plus" aria-hidden="true"></i>
</button>
</div>
