{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_notebook/note_confirm_delete_dialogue

    This template will render the confirmation dialogue inside the note drawer page.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * All data attributes are required

    Context variables required for this template:
    * none

    Example context (json):
    {}

}}

<div class="p-3 bg-white" data-region="confirm-dialogue" role="alert">
    <p class="text-muted multiplenotes" data-region="dialogue-text">{{#cleanstr}} confirmdeletemultiplenotes, local_notebook {{/cleanstr}}</p>
    <p class="text-muted singlenote" data-region="dialogue-text">{{#cleanstr}} confirmdeletesinglenote, local_notebook {{/cleanstr}}</p>
    <input type="hidden" id="hidden_input_for_confirm_delete_button" value="">
    <input type="hidden" id="hidden_input_for_confirm_delete_action" value="">
    <button id="confirm_delete_multiple_button" type="button" class="btn btn-primary btn-block hidden" data-action="confirm-delete-multiple">
        <span data-region="dialogue-button-text">{{#cleanstr}} delete, core {{/cleanstr}}</span>
        <span class="hidden" data-region="loading-icon-container">{{> core/loading }}</span>
    </button>
    <button type="button" class="btn btn-secondary btn-block" data-action="cancel-delete-multiple">{{#cleanstr}} cancel, core {{/cleanstr}}</button>

    <button id="confirm_delete_single_button" type="button" class="btn btn-primary btn-block hidden" data-action="confirm-delete-single">
        <span data-region="dialogue-button-text">{{#cleanstr}} delete, core {{/cleanstr}}</span>
        <span class="hidden" data-region="loading-icon-container">{{> core/loading }}</span>
    </button>
    <button type="button" class="btn btn-secondary btn-block" data-action="cancel-delete-single">{{#cleanstr}} cancel, core {{/cleanstr}}</button>
</div>
